*{
	list-style:none;
	padding:0;
	margin:0;
	font-family:Arial;
	text-decoration:none;
}

/* SPRITES */
h1 a,footer a, .icoLink{
	background:url('/assets/media/sprite.png') no-repeat;
	text-indent: -15000px;
	display:inline-block;
}

/* AJUSTES FONTS */
h4{
	font-size:24px;
	font-weight:bold;
	color:#004761;
	text-transform:uppercase;
	display:block;
	width:960px;
}
a{
	color:#000;
}
strong{
	font-size:20px;
}
.itemHorizontal strong{
	font-size:17px;
}
span{
	font-size:14px;
	font-weight:normal;
	display:block;
}
a small{
	font-size:10px;
	font-weight:bold;
	color:#004861;
	text-transform:uppercase;
	display:block;
}

/* Layout */
header{
	background-color:#004861;
	height:100px;
	width:100%;
	margin-bottom:32px;
}

h1{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100px;
}

h1 a{
	background-position:0 0;
	width:380px;
	height:47px;
}

section{
	margin:auto;
	width:960px;
}

.container {
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex;
  -webkit-flex-flow:row wrap;
  justify-content:space-between;
}

.itemBox{
	width:216px;
	margin-bottom:32px;
	position:relative;
}
.itemBox h3{
	position:relative;
}
.itemBox p{
	position:absolute;
	bottom:0;
	left:0;
	color:#fff;
	padding:15px;
}
.itemBox p small{
	color:#fff;
}
.itemVertical p,.itemHorizontal p{
	position:static;
	color:#000;
	padding:0;
}
.itemVertical p small,.itemHorizontal p small{
	color:#000;
}
.itemDestaque{
	width:464px;
}
.itemVertical img,.itemVertical p{
	float:left;
	width:216px;
}

.itemVertical p{
	margin-left:16px;
}
.itemDestaque .icoLink{
	position:absolute;
	top:10px;
	left:430px;
}
.itemDestaque .icoLinkBranco{
	background-position:-24px -68px;
}
.itemVertical .icoLink{
	position:absolute;
	top:196px;
	left:234px;
}
.itemHorizontal .icoLink{
	margin-top:10px;
}

.icoLink{
	width:24px;
	height:20px;
	background-position:0 -68px;
}

.lerMais{
	font-size:18px;
	font-weight:bold;
	color:#004861;
	text-transform:uppercase;
	width:960px;
	text-align:right;
	border-top:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
	padding:5px;
	margin-bottom:32px;
}

/* banner */
.ads{
	display:flex;
    justify-content:center;
    align-items:center;
	background-color:#eeeeee;
	height:150px;
	margin-bottom:32px;
}
.ads .banner{
	width:728px;
	height:90px;
    border:1px solid #999;
}

/* FOOTER */
footer{
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	-webkit-flex-flow:row wrap;
	justify-content:space-between;
    align-items:center;
	background-color:#d5e11f;
	height:81px;
	padding:0 30px;
}

footer a{
	width:165px;
	height:21px;
	background-position:0 -47px;
}

footer span{
	font-size:10px;
	width:174px;
	text-align:right;
}

/* MOBILE */
@media screen and (max-width: 978px) {
	h4,.lerMais{
		width:100%;
	}
	.lerMais{
		padding:5px 0;
	}
	header,header h1{
		height:50px;
	}
	header h1 a{
		width:129px;
		height:16px;
		background-position:0 -88px;
	}
	section{
		width:100%;
	}
	.container{
		-webkit-flex-flow: column;
	}
	.itemBox{
		margin-bottom:16px;
	}
	.itemVertical,.itemHorizontal{
		border-bottom:1px solid #e0e0e0;
		padding-bottom:16px;
	}
	.itemDestaque,.itemHorizontal,.itemBox img{
		width:100%;
	}
	.itemVertical figure,.itemVertical p{
		width:30%;
		float:left;
	}
	.itemVertical p{
		width:60%;
		float:left;
	}
	.itemHorizontal figure,.itemHorizontal p{
		width:45%;
		float:left;
	}
	.itemVertical p,.itemHorizontal p{
	margin-left:16px;
	}
	.icoLink{
		display:none;
	}
	.ads{
		height:100px;
		margin-bottom:16px;
	}
	.ads .banner{
		width:320px;
		height:100px;
	}
	footer{
		-webkit-flex-flow: column;
		padding:0;
		height:122px;
	}
	footer a{
		margin-top:17px;
	}
	footer p{
		width:100%;
		background:#004861;
	}
	footer span{
		background:#004861;
		text-align:center;
		margin:20px auto;
		color:#fff;
	}
}